extends layout

block content
    if !user
        .alert.alert-success.animated.flipInX
            strong Please &nbsp;
            a(href="/login") login
            |  to request

    //h2 Learn something

    each listing, index in listings
        .row
            .col-sm-12
                h3=listing.title
                | #{listing.description}
                p
                    strong Location:
                    |  #{listing.location}
                .row
                    .col-sm-4
                        strong Reward:
                        if listing.reward
                            |  #{listing.reward}
                        else
                            |  —
                    .col-sm-4
                        strong Phone:
                        if listing.phone
                            |  #{listing.phone}
                        else
                            |  —
                    .col-sm-4
                        strong Email:
                        if listing.email
                            |  #{listing.email}
                        else
                            |  —
